@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-size: arial;
}

body{
    background-color: rgb(231, 213, 213);
}


#container{
    width: 1050px;
   height: 1050px;
    margin: 0 auto;
}



#banner{
    
    height: 187px;
    background: #000;
    color: aliceblue;

}

#link{
    width: 150px;
    height: 800px;
    background-color: red;
    
}

#texto{
    width: 685;
    height: 800px;
    margin-top: -800px;
    margin-left: 150px;
    background: blue;
    text-align: center;

}

#footer{
    width: 99.5%;
    height: 50px;
   border: solid;
   color: rgb(7, 7, 7);
    
}
    
#img{
    width: 100%;
    height: 100%;
}

#video{
    margin-top: 30%;
}